<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TGInterview.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TGInterview.WebUI.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Headers", required: false)
</head>
<body>
    @await Html.PartialAsync("Partials/_HeaderPartial")

    <div class="container-fluid">
        <main role="main" class="p-3">
            <div class="row">
                <div class="col-12" id="top-sidebar"></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-2" id="left-sidebar"></div>

                <div class="col-9 col-lg-10 py-3" style="padding-left: 20px; padding-right: 0;">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 - TGInterview.WebUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>